USE [PRACTICA]
GO
/****** Object:  StoredProcedure [dbo].[AGREGAR_MODULOS]    Script Date: 09/11/2020 16:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[AGREGAR_MODULOS]
@ID BIGINT,
@NOMBRE NVARCHAR(50),
@IDPERSONA BIGINT
AS
INSERT INTO MODULOS VALUES (@ID, @NOMBRE, @IDPERSONA)