USE [PRACTICA]
GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_PERSONA]    Script Date: 08/11/2020 20:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[MODIFICAR_PERSONA]
@ID BIGINT,
@NOMBRES NVARCHAR(50),
@APELLIDOS NVARCHAR(50),
@IDTIPOPERSONA BIGINT
AS
UPDATE PERSONA SET NOMBRES=@NOMBRES,APELLIDOS= @APELLIDOS,IDTIPOPERSONA=@IDTIPOPERSONA WHERE ID=@ID;