USE [PRACTICA]
GO
/****** Object:  StoredProcedure [dbo].[CONSULTAR_MODULOS]    Script Date: 09/11/2020 16:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[CONSULTAR_MODULOS]
AS
SELECT * FROM MODULOS