USE [PRACTICA]
GO
/****** Object:  StoredProcedure [dbo].[AGREGAR_TIPOPERSONA]    Script Date: 07/11/2020 16:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[AGREGAR_TIPOPERSONA]
@NOMBRE NVARCHAR(50)
AS
INSERT INTO TIPOPERSONA VALUES (@NOMBRE)