
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="panel panel-default">
   <div class="panel-heading">
       <div class="row">
           <div class="col col-xs-6">
               <h3 class="panel-title">Materias</h3>
           </div>
           <div class="col col-xs-6 text-right">
               <a href="Url.Action("Create","Materia")" class="btn btn-primary"
                   id="Agregar"><i class="Material-icons">Add</i></a>
           </div>
           </div>
   </div>    

    <table class="table table-bordered">
        <thead>
            <tr>
                <th> Nombre </th>
                <th> Acciones </th>
            </tr>
        </thead>
        <tbody id="tmateria"></tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
    mostrarMateria();
    });

    function mostrarMateria() {
        $.ajax({
            Url: 'Url.Action("Lista","Materia")',
            dataType: 'json',
            Success: function (data) {
                $('#tmateria').html("");
                $.each(data, function () {
                    var html = "";
                    html += "<tr>";
                    html += "<td>" + this.nombre + "</td>";
                    html += "<td>";
                    html += "a class='btn btn-default' href='@Url.Action("View", "Materia")"+"?Id"+ this.id+"'><i>View</i></a>";
                    html += "<a class='btn btn-danger' href='@Url.Action("Delete", "Matria")"+"?Id"+this.id"'><i>Delete</i></a>";
                    html += "<a class= 'btn btn-info' href='@Url.Action("Update","Materia")"+"?Id"+this.id+"'><i>Update</i></a>";
                    html += "</td>";
                    html += "</tr>";
                    $('#tmateria').append(html);
                });
            }
        });
    }

</script>