
@{
    ViewBag.Title = "Index";
}


<script src="~/Angular/Modulo.js"></script>


<div class="container" ng-controller="Modulo">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Modulo</h1>
                    <p class="lead">Aqui estara la lista de todos los Modulos.</p>
                    <p>
                        <a href="../Modulo/AgregarModulo" class="btn btn-success">Agregar</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <input type="text" placeholder="Buscar" class="form-control" ng-model="tBuscador" />
        </div>
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Id_Persona</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in ModulosData | filter:{Nombre : tBuscador } | orderBy:Id">
                        <td>{{i.Id}}</td>
                        <td>{{i.Nombre}}</td>
                        <td>{{i.Id_Persona}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" ng-click="SeleccionarModuloParaModificar(i)">Modificar</button>
                            <button type="button" class="btn btn-danger" ng-click="EliminarModulo(i.Id)">Eliminar</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>





    <!-- Modal -->
    <div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modificar Registro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="row">
                        <div class="col-md-12 form-group">
                            <label>Nombres</label>
                            <input type="text" class="form-control" ng-model="mNombre" />
                        </div>

                        <div class="col-md-12 form-group">
                            <label>Persona {{mId_Persona}}</label>
                            <select class="form-control" ng-model="mId_Persona">
                                <option ng-repeat="i in PersonasData" value="{{i.Id}}">{{i.Nombres}}</option>
                            </select>
                        </div>
                        <div class="col-md-12 form-group">
                            <p class="text-right">
                                <button type="button" class="btn btn-primary" ng-click="ModificarModulo()">Modificar</button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



</div>





