
@{
    ViewBag.Title = "Index";
 
}
<script src="~/Angular/Alumno.js"></script>

<div class="container" ng-controller="Alumno">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Alumnos</h1>
                    <p class="lead">Aqui estara la lista de alumnos.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>edad</th>
                        <th>Materia</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in AlumnosData">
                        <td>{{i.Id}}</td>
                        <td>{{i.Nombre}}</td>
                        <td>{{i.Apellido}}</td>
                        <td>{{i.Edad}}</td>
                        <td>{{i.Fk_Materia}} - {{i.NombreMateria}}</td>
                        <td>
                            <button type="button" class="btn btn-danger" ng-click="EliminarAlumnos(i.Id)">Eliminar</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>



